name: CI - Build and Push Docker Images

on:
  push:
    tags:
      - 'v*'  # only triggers on tags like v1.0.0, v2.1, etc.

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Use the Git tag as Docker image tag
      - name: Set Docker image tag
        id: vars
        run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

           - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          build-args: |
            NEXT_PUBLIC_API_URL=http://fast-api-staging.local
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/devops-frontend:${{ env.IMAGE_TAG }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/devops-backend:${{ env.IMAGE_TAG }}
